.bg-body-tertiary {
    background-color: black; /* Navbar background color */
  }
  
  /* Navbar brand link */
  .bg-body-tertiary .navbar-brand {
    color: #fff; /* Brand text color */
    font-weight: bold;
  }
  
  /* Navbar links */
  .bg-body-tertiary .navbar-nav .nav-link {
    color: #fff; /* Nav links text color */
    font-weight: bold;
    margin-right: 10px; /* Add space between the nav links */
  }
  
  /* Navbar links hover effect */
  .bg-body-tertiary .navbar-nav .nav-link:hover {
    color: #ffcc00; /* Nav links text color on hover */
  }
  
  /* Center the navbar links */
  .bg-body-tertiary .navbar-nav {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  /* Button hover effect */
  .bg-body-tertiary .button:hover {
    background-color: #ffcc00; /* Button background color on hover */
    color: #333; /* Button text color on hover */
  }