.compare-container {
  display: flex;
  margin-top: 150px;
  color: white;
}

.big-column {
  flex: 1;
  background-color: #1a1c1f;
  padding: 20px;
  border-radius: 50px;
}

.small-column {
  flex: 0.5;
  background-color: #2F333E;
  padding: 20px;
  border-radius: 50px;
}

.left-column {
  margin-right: 10px;
  height: 600px;
}

.right-column {
  margin-left: 10px;
  height: 600px;
}

.small-column {
  height: 350px;
  margin-top: 100px;
}