.compare-container {
  display: flex;
  justify-content: space-around;
}

.column {
  width: 45%;
  padding: 10px;
  border-radius: 50px;
}

.weapon-info {
  margin-top: 20px;
}

.weapon-info img {
  max-width: 100px;
}

.weapon-info ul {
  list-style: none;
  padding: 0;
}

.left-column {
  background-color: #2F333E;
}

.right-column {
  background-color: #2F333E;
}
