.compare-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.top-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.bottom-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
  width: 30%;
  padding: 10px;
  border-radius: 50px;
}

.weapon-info {
  margin-top: 20px;
}

.weapon-info img {
  max-width: 100px;
}

.weapon-info ul {
  list-style: none;
  padding: 0;
}

.dropdown-one select,
.dropdown-two select {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
}

.dropdown-one select:focus,
.dropdown-two select:focus {
  outline: none;
  border-color: #007bff;
}

.dropdown-one {
  margin-bottom: 20px;
}

.dropdown-two {
  margin-top: 20px;
}

.weapon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.charts-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-column {
  background-color: #202123;
  box-shadow: 6px 6px 8px 2px rgba(0, 0, 0, 0.48);
}

.right-column {
  background-color: #202123;
  box-shadow: 6px 6px 8px 2px rgba(0, 0, 0, 0.48);
}

.small-column {
  background-color: #202123;
  color: white;
  height: fit-content;
  margin: 10px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 6px 6px 8px 2px rgba(0, 0, 0, 0.48);
}

.small-column button {
  width: 100px;
  height: 25px;
  display: flex;
  margin: 10px auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #368668;
  color: white;
  border-color: transparent;
  border-radius: 50px;
}

.small-column button:hover {
  background-color: white;
}

.pie-chart {
  background-color: #245a46;
  width: 48%;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 6px 6px 8px 2px rgba(0, 0, 0, 0.48);
  text-align: center;
  color: white;
}

.radar-chart {
  background-color: #245a46;
  width: 48%;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 6px 6px 8px 2px rgba(0, 0, 0, 0.48);
  text-align: center;
  color: white;
}

.bar-chart {
  background-color: #202123;
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  margin-top: 10px;
  box-shadow: 6px 6px 8px 2px rgba(0, 0, 0, 0.48);
  text-align: center;
  color: white;
}